*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: fit-content;
  padding: 32px 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: sticky;
  top: 0;
}

header button {
  color: #222;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  height: 48px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s ease;
}

.logo-contenedor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-contenedor a {
  font-size: 24px;
  font-weight: bolder;
  color: #4b4e6d;
  text-decoration: none;
}

.logo-contenedor img {
  width: 80px;
  height: 76px;
  object-fit: contain;
}

/* NAV DE PASTILLAS */
#navPills {
  width: 100%;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin: 20px 0;
}

.pillBtn {
  background-color: #4b4e6d;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: .2s;
}

.pillBtn:hover {
  background-color: #222;
}

.pillBtn.active {
  background-color: #fff;
  color: #4b4e6d;
  border: 1px solid #4b4e6d;
}

.producto-admin img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.section {
  flex: 1;
}

#section-clientes, #section-pedidos, #section-productos, #section-categorias, #section-marcas {
  width: 100%;
  padding: 0 120px;
  margin-bottom: 56px;
}

/* darle estilo general a todas las tablas */
table {
  width: 100%;              /* hace que la tabla ocupe todo el ancho */
  border-collapse: collapse;/* quita el espacio entre bordes */
  margin-top: 16px;
  border-radius: 10px;      /* bordes redondeados */
  overflow: hidden;         /* para que el borde redondo afecte filas internas */
}

/* estilo a los encabezados */
th {
  background-color: #4b4e6d;   /* color de fondo */
  padding: 12px;            /* espacio interno */
  text-align: left;         /* alinear texto */
  color: white;             /* color del texto */
  font-weight: bold;        /* que se vea fuerte */
}

/* estilo para cada celda */
td {
  padding: 12px;
  border-bottom: 1px solid #b8b8b8; /* línea de separación */
}

/* eliminar borde de la última fila */
tr:last-child td {
  border-bottom: none;
}

/*Footer*/
.admin-footer {
    width: 100%;
    background: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}

.btn-detalles, .btn-categorias, .btn-productos, .btn-marcas {
    padding: 8px 16px;
    background-color: #4b4e6d;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: auto;
    height: 36px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s ease;
}

.btn-detalles:hover, .btn-categorias:hover, .btn-productos:hover, .btn-marcas:hover {
    background-color: #222;
}

/* Fondo oscuro del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}

.card button {
  padding: 6px 12px;
  background-color: #4b4e6d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s ease;
}

.card button:hover {
  background-color: #222;
}

.card select {
  padding: 6px 12px;
  border: 1px solid #b8b8b8;
  border-radius: 3px;
}

.card label {
  font-weight: bold;
}

/* Botón cerrar */
.modal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  background: white;
  color: #000;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.producto-item {
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

/* Oculto */
.modal-oculto {
    opacity: 0;
    pointer-events: none;
}

/* Visible */
.modal-visible {
    opacity: 1;
    pointer-events: auto;
}

.modal-visible .modal-content {
    transform: scale(1);
}

.aviso-emergente {
    position: fixed;
    font-size: 16px;
    font-weight: bold;
    top: 20px;
    right: 20px;
    padding: 12px 18px;
    background: #4b4e6d;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    opacity: 1;
    transition: opacity .8s ease;
    z-index: 99999;
}

.aviso-emergente.desvanecer {
    opacity: 0;
}

.pill-productos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.productos-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 24px;
}

.productos-inputs label {
  font-weight: bold;
}

.productos-inputs input, .productos-inputs select {
  width: 300px;
  padding: 8px 16px;
  border: 1px solid #b8b8b8;
  border-radius: 3px;
}

.td-acciones {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edit-img {
  display: none;
}

/* Fondo oscuro */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

/* Caja */
.modal-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background: white;
    width: 700px;
    padding: 32px;
    border-radius: 10px;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 5px;
}

.modal-body {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

/* Cerrar */
.cerrar-modal {
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Inputs */
.modal-body label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.modal-body input,
.modal-body textarea,
.modal-body select {
    width: 100%;
    margin-top: 4px;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #b8b8b8;
}

.texto-limitado {
    max-width: 150px; /* nota: ajusta el tamaño como quieras */
    white-space: nowrap; /* nota: evita que el texto baje a otra línea */
    overflow: hidden; /* nota: esconde lo sobrante */
    text-overflow: ellipsis; /* nota: pone los tres punticos (...) */
    display: block; /* nota: para que funcione mejor dentro de la celda */
}

.pill-categorias input, .pill-marcas input {
  height: 32px;
  margin: 0 16px 0 0;
  padding: 0 16px;
}

.titulos {
  margin: 16px 0 16px 0;
  font-size: 24px;
}