*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: fit-content;
  padding: 32px 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: sticky;
  top: 0;
}

.logo-contenedor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-contenedor a {
  font-size: 24px;
  font-weight: bolder;
  color: #4b4e6d;
  text-decoration: none;
}

.logo-contenedor img {
  width: 80px;
  height: 76px;
  object-fit: contain;
}

/* NAV DE PASTILLAS */
#navPills {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.pillBtn {
  background-color: #4b4e6d;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: .2s;
}

.pillBtn:hover {
  background-color: #222;
}

.pillBtn.active {
  background-color: #fff;
  color: #4b4e6d;
  border: 1px solid #4b4e6d;
}
