*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: fit-content;
  padding: 32px 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: sticky;
  top: 0;
}

header button {
  background-color: #4b4e6d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  height: 48px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s ease;
}

header button:hover {
  background-color: #222;
}

.logo-contenedor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-contenedor a {
  font-size: 24px;
  font-weight: bolder;
  color: #4b4e6d;
  text-decoration: none;
}

.logo-contenedor img {
  width: 80px;
  height: 76px;
  object-fit: contain;
}

/* NAV DE PASTILLAS */
#navPills {
  width: 100%;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin: 20px 0;
}

.pillBtn {
  background-color: #4b4e6d;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: .2s;
}

.pillBtn:hover {
  background-color: #222;
}

.pillBtn.active {
  background-color: #fff;
  color: #4b4e6d;
  border: 1px solid #4b4e6d;
}

.producto-admin img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

#section-clientes {
  width: 100%;
  padding: 0 120px;
  margin-top: 56px;
}

/* darle estilo general a todas las tablas */
table {
  width: 100%;              /* hace que la tabla ocupe todo el ancho */
  border-collapse: collapse;/* quita el espacio entre bordes */
  margin-top: 16px;
  background-color: #1e1e1e;/* color oscuro tipo Spotify */
  border-radius: 10px;      /* bordes redondeados */
  overflow: hidden;         /* para que el borde redondo afecte filas internas */
}

/* estilo a los encabezados */
th {
  background-color: #333;   /* color de fondo */
  padding: 12px;            /* espacio interno */
  text-align: left;         /* alinear texto */
  color: white;             /* color del texto */
  font-weight: bold;        /* que se vea fuerte */
}

/* estilo para cada celda */
td {
  padding: 12px;
  border-bottom: 1px solid #444; /* línea de separación */
  color: #ddd;
}

/* eliminar borde de la última fila */
tr:last-child td {
  border-bottom: none;
}

/* efecto hover al pasar el mouse */
tr:hover td {
  background-color: #2a2a2a;
}
