* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

/*HEADER*/
header {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: sticky;
  top: 0;
}

/*Contenedor del contenido del header*/
.contenido-header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  margin: 24px 0 0 0;
}

/*Contenedor del logo*/
.contenedor-logo {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-logo img {
  width: 80px;
  height: 76px;
  object-fit: cover;
}

.contenedor-logo a {
  font-size: 24px;
  font-weight: 800;
  color: #4b4e6d;
  text-decoration: none;
  cursor: pointer;
}

/*Contenedor de acciones*/
.contenedor-acciones {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.buscador input {
  width: 550px;
  height: 48px;
  border: 2px solid #b8b8b8;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
}

.contenedor-login {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contenedor-login img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.contenedor-login p {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
}

.contenedor-login a {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
  text-decoration: none;
}

/* Ocultar elementos */
.hidden {
    display: none !important;
}

/* Estilos del overlay */
.overlay-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

/*SIDEBAR DEL CARRITO Y USUARIO*/

/* Ocultar elementos */
.hidden {
    opacity: 0;
    pointer-events: none;
}


/* Fondo oscuro */
.overlay-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease;
}

.overlay-login:not(.hidden) {
  opacity: 1;
  visibility: visible;
}

/* Panel login */
.menu-login {
  position: fixed;
  top: 0;
  right: -400px;
  width: 340px;
  height: 100%;
  background: white;
  padding: 32px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: right 0.35s ease, opacity 0.35s ease;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Botón cerrar */
.btn-cerrar {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Contenedores */
.form-contenedor {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.form-contenedor h2 {
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.form-contenedor input {
  width: 100%;
  height: 48px;
  padding: 16px;
  border: 1px solid #b8b8b8;
  font-size: 16px;
}

.btn-accion {
  height: 48px;
  background: #4b4e6d;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.texto-intercambio span {
  color: #222;
  cursor: pointer;
  font-weight: bold;
}

/*BUSCADOR*/
.resultados-busqueda {
  position: absolute;
  background: #fff;
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
  z-index: 300;
}

.resultado-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.resultado-item img {
  width: 60px;
  height: 50px;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 10px;
}

.resultado-item:hover {
  background: #f2f2f2;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

header h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 24px 0;
  top: 0;
  position: sticky;
  z-index: 200;
  align-self: center;
}

#carrito {
  flex: 1;
  padding: 60px 120px;
  margin: 56px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
  justify-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.item-contenido {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn-eliminar {
  width: 150px;
  height: 32px;
  background-color: #4b4e6d;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-eliminar:hover {
  background-color: #222;
}

.cantidad {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btnRestar, .btnSumar, .cantidadActual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 0;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #b8b8b8;
}

.btnRestar, .btnSumar {
  cursor: pointer;
}

/* ESTADO DESACTIVADO DE BOTONES + Y - */
.btnSumar:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.finalizar-pedido {
  width: 100%;
  height: auto;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #b8b8b8;
  padding: 32px 120px;
  gap: 16px;
}

.btn-finalizar-pedido {
  width: 150px;
  height: 48px;
  background-color: #4b4e6d;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-finalizar-pedido:hover {
  background-color: #222;
}

/*FOOTER*/
footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 64px 120px;
}

footer h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}

footer p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.info-container,
.ayuda-container,
.redes-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-elemento {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icono-footer {
  color: #fff;
}

.item-nombre {
  max-width: 200px;
}

button:disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.overlay-checkout {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: 100;
}

.modal-checkout {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 380px;
    padding: 25px;
    border-radius: 4px;
    z-index: 100;
    max-height: 90vh;
    overflow-y: auto;
}

.modal-checkout input {
    height: 32px;
    padding: 16px;
    border: 1px solid #b8b8b8;
}

.modal-checkout button {
    height: 32px;
    background-color: #4b4e6d;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.modal-checkout button:hover {
    background-color: #222;
}

.hidden {
    display: none;
}

#infoPedido {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.carrito-vacio {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.carrito-vacio-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.carrito-vacio h3 {
  font-size: 32px;
  color: #222;
}

.carrito-vacio .btn-volver-productos {
  width: 180px;
  height: 48px;
  background-color: #4b4e6d;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
  transition: 0.3s ease;
}

.carrito-vacio .btn-volver-productos:hover {
  background-color: #222;
} 

/* ANIMACIÓN NORMAL (ENTRADA) */
.menu-login:not(.hidden):not(.closing),
.menu-carrito:not(.hidden):not(.closing) {
    right: 0;
    opacity: 1;
    visibility: visible;
}

/* ANIMACIÓN DE SALIDA */
.menu-login.closing,
.menu-carrito.closing {
    right: -400px;
    opacity: 0;
    visibility: visible; /* No se esconde aún */
}

/* Animación de entrada */
.slide-in-right {
    animation: slideInRight .3s forwards;
}

@keyframes slideInRight {
    from { transform: translateX(100%); opacity: 0; }
    to   { transform: translateX(0); opacity: 1; }
}

/* Animación de salida */
.slide-out-right {
    animation: slideOutRight .3s forwards;
}

@keyframes slideOutRight {
    from { transform: translateX(0); opacity: 1; }
    to   { transform: translateX(100%); opacity: 0; }
}

/* Overlay entrada */
.fade-in {
    animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Overlay salida */
.fade-out {
    animation: fadeOut .3s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.mensaje {
    color: #4b4e6d;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.hidden { display: none; }

/* Estado deshabilitado del botón login */
#btnLogin:disabled {
    opacity: 0.4;        /* botoncito opacado */
    cursor: not-allowed; /* cursor deshabilitado */
    background-color: #4b4e6d; /* mismo color del botón normal */
}

/* Mientras inicia sesión (JS agrega esta clase) */
#btnLogin.cargando {
    opacity: 0.4;
    cursor: wait;       /* cursor de relojito */
}

.mensaje-estado {
    margin-top: 10px;
    color: #4b4e6d;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mensaje-estado.show {
    opacity: 1;
}

/* Botón deshabilitado */
#btnRegistro:disabled:not(.cargando) {
    opacity: 0.4;
    cursor: not-allowed;
}

/* Botón cargando */
.cargando {
    cursor: wait !important;
    opacity: 0.6;
}

.error {
    color: rgb(255, 94, 94);
    font-size: 12px;
    margin-top: 3px;
    display: block;
}

.hidden {
    display: none;
}