* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HEADER*/
header {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: sticky;
  top: 0;
}

/*Contenedor del contenido del header*/
.contenido-header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  margin: 24px 0 0 0;
}

/*Contenedor del logo*/
.contenedor-logo {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-logo img {
  width: 80px;
  height: 76px;
  object-fit: cover;
}

.contenedor-logo a {
  font-size: 24px;
  font-weight: 800;
  color: #4b4e6d;
  text-decoration: none;
  cursor: pointer;
}

/*Contenedor de acciones*/
.contenedor-acciones {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.buscador input {
  width: 550px;
  height: 48px;
  border: 2px solid #b8b8b8;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
}

.contenedor-login {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contenedor-login img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.contenedor-login p {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
}

.contenedor-login a {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
  text-decoration: none;
}

/* Ocultar elementos */
.hidden {
    display: none !important;
}

/* Estilos del overlay */
.overlay-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

/*SIDEBAR DEL CARRITO Y USUARIO*/

/* Cuando está activo */
.overlay-login:not(.hidden) {
  opacity: 1;
  visibility: visible;
}

/* Menú lateral */
.menu-login {
  position: fixed;
  top: 0;
  right: -400px; /* oculto */
  width: 340px;
  height: 100%;
  background: #fff;
  z-index: 999;
  padding: 30px;
  box-shadow: -3px 0px 12px rgba(0,0,0,0.2);
  transition: 0.35s ease;
}

/* Menú visible */
.menu-login:not(.hidden) {
  right: 0;
}

/* Botón cerrar */
.btn-cerrar {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Contenedores */
.form-contenedor {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-contenedor input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn-accion {
  background: #111;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.texto-intercambio span {
  color: #0a58ff;
  cursor: pointer;
  font-weight: 600;
}

/*BUSCADOR*/
.resultados-busqueda {
  position: absolute;
  background: #fff;
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
  z-index: 20;
}

.resultado-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.resultado-item img {
  width: 60px;
  height: 50px;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 10px;
}

.resultado-item:hover {
  background: #f2f2f2;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

header h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 24px 0;
  top: 0;
  position: sticky;
  z-index: 200;
  align-self: center;
}

#carrito {
  width: 100%;
  padding: 0 120px;
  margin: 56px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
  justify-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.item-contenido {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn-eliminar {
  width: 150px;
  height: 32px;
  background-color: #4b4e6d;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-eliminar:hover {
  background-color: #222;
}

.cantidad {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btnRestar, .btnSumar, .cantidadActual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 0;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #b8b8b8;
}

.btnRestar, .btnSumar {
  cursor: pointer;
}

/* ESTADO DESACTIVADO DE BOTONES + Y - */
.btnSumar:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.finalizar-pedido {
  width: 100%;
  height: auto;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #b8b8b8;
  padding: 32px 120px;
  gap: 16px;
}

.btn-finalizar-pedido {
  width: 150px;
  height: 48px;
  background-color: #4b4e6d;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-finalizar-pedido:hover {
  background-color: #222;
}

/*FOOTER*/
footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 64px 120px;
}

footer h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}

footer p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.info-container,
.ayuda-container,
.redes-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-elemento {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icono-footer {
  color: #fff;
}

.item-nombre {
  max-width: 200px;
}

button:disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.overlay-checkout {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: 90;
}

.modal-checkout {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 380px;
    padding: 25px;
    border-radius: 10px;
    z-index: 100;
    max-height: 90vh;
    overflow-y: auto;
}

.hidden {
    display: none;
}

