* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HEADER*/
header {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: sticky;
  top: 0;
}

/*Anuncio*/
.anuncio {
  width: 100%;
  background-color: #4b4e6d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(6px, 1.5vh, 12px) 5vw;
  font-size: clamp(12px, 3.5vw, 16px);
  line-height: 1.3;
  font-weight: 600;
  color: #fff;
  text-align: center;
}


/*Contenedor del contenido del header*/
.contenido-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(12px, 3vh, 24px) clamp(16px, 6vw, 120px);
  min-height: clamp(64px, 10vh, 96px);
}


/*Contenedor del logo*/
.contenedor-logo {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: clamp(6px, 2vw, 12px); /* espacio entre logo y texto */
}

.contenedor-logo img {
  width: clamp(44px, 8vw, 80px);
  height: auto;
  object-fit: contain;
}

.contenedor-logo p {
  font-size: 24px;
  font-weight: 800;
  color: #4b4e6d;
}

/*Contenedor de acciones*/
.contenedor-acciones {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.buscador input {
  width: 550px;
  height: 48px;
  border: 2px solid #b8b8b8;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
}

.contenedor-login {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contenedor-login img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.contenedor-login p {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
}

.icono-carrito {
  width: 24px;
  height: 24px;
  object-fit: cover;
  cursor: pointer;
}

/*Contenedor del filtro*/
.contenedor-filtro {
  width: fit-content;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 120px 0 0;
  gap: 8px;
  align-self: flex-end;
  margin: 24px 0;
  z-index: 100;
  top: 0;
  position: sticky;
}

.contenedor-filtro img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.contenedor-filtro p {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
}

/*HERO SECTION*/
.hero-section {
  width: 100%;
  /* nota: padding fluido, sin media queries */
  padding: clamp(32px, 8vh, 96px) clamp(16px, 6vw, 120px);
  /* nota: altura m铆nima para que el hero no se aplaste */
  min-height: clamp(320px, 60vh, 520px);
  background-image: url('/front/ASSETS/IMG/hero_section_img.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.contenido-hero {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* nota: espacio fluido entre textos */
  gap: clamp(16px, 4vh, 40px);
  margin: 0 auto;
  text-align: center;
}


.contenido-hero h1 {
  font-size: clamp(28px, 6vw, 64px);
  font-weight: bold;
  color: #4b4e6d;
  line-height: 1.1;
}


.contenido-hero p {
  font-size: clamp(16px, 4vw, 48px);
  font-weight: 600;
  color: #222;
  line-height: 1.3;
  max-width: 65ch;
}


.btn-explorar {
  width: clamp(160px, 60vw, 200px);   /* se adapta al ancho sin romper desktop */
  height: clamp(48px, 8vh, 64px);     /* m谩s bajito en m贸vil */
  background-color: #fff;
  border: 1px solid #4b4e6d;
  border-radius: 8px;
  color: #4b4e6d;
  font-size: clamp(16px, 4vw, 24px);  /* texto legible en m贸vil */
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s ease;
}


.btn-explorar:hover {
  background-color: #222;
  color: #fff;
}

/*SLIDER DE PRODUCTOS*/

.bicicletas-destacadas,
.promociones-destacadas {
  width: min(100%, 1200px); /* desktop = 1200, m贸vil = 100% */
  margin: clamp(32px, 6vh, 56px) auto 0;
  padding-inline: clamp(16px, 5vw, 32px); /* padding a los lados */
}

.bicicletas-destacadas h2,
.promociones-destacadas h2 {
  font-size: clamp(24px, 6vw, 40px);
  margin: 16px 0;
}


.bicicletas-destacadas h2 {
  font-weight: bold;
  color: #222;
  border-bottom: 2px solid #b8b8b8;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 5;
}

.slider-track {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease;
  z-index: 1; /* Track por debajo */
}

.slide {
  min-width: 100%; /* ahora ocupa todo el ancho disponible */
  display: flex;
  gap: clamp(12px, 4vw, 24px);
  justify-content: center;
}

.card {
  width: clamp(240px, 80vw, 330px); /* m贸vil = 1 card, desktop = 3 */
  flex-shrink: 0; /* evita que se aplasten */
  background: #fff;
  padding: 16px;
  gap: 8px;
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.tipo {
  font-size: 16px;
  font-weight: bold;
  color: #b8b8b8;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-prev, .btn-next {
  color: #4b4e6d;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(255, 255, 255); /* Fondo blanco */
  border: none;
  cursor: pointer;

  z-index: 10;       /* <- LO IMPORTANTE */
  padding: 10px;     /* evita clics fallidos */
}

.btn-prev:hover {
  color: #222;
  transition: all 0.3s ease-in-out;
}

.btn-next:hover {
  color: #222;
  transition: all 0.3s ease-in-out;
}


.btn-prev { left: 10px; }
.btn-next { right: 10px; }

.btn-prev, .btn-next,
.btn-prev-2, .btn-next-2 {
  font-size: clamp(24px, 6vw, 35px);
  padding: clamp(6px, 2vw, 10px);
}

/*SLIDER DE PROMOCIONES*/
.promociones-destacadas h2 {
  font-weight: bold;
  color: #222;
  border-bottom: 2px solid #b8b8b8;
}

.slider-wrapper-2 {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 5;
}

.slider-track-2 {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease;
  z-index: 1; /* Track por debajo */
}

.card {
  display: flex;
  flex-direction: column;
  width: 330px;
  background: #fff;
  padding: 16px;
  gap: 8px;
}

.img-container {
  position: relative;
  width: 100%;
  height: clamp(200px, 50vw, 280px);
  overflow: hidden;
}

.btn-detalles {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 48px;
  transform: translate(-50%, -50%);
  background: #4b4e6d;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition: 0.3s ease;
  z-index: 5;
}

.img-container:hover .btn-detalles {
  opacity: 1;
}

.btn-detalles:hover {
  background-color: #222;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.img-container:hover img {
  opacity: 0.5;
}

.btn-prev-2, .btn-next-2 {
  color: #4b4e6d;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(255, 255, 255); /* Fondo blanco */
  border: none;
  cursor: pointer;

  z-index: 10;       /* <- LO IMPORTANTE */
  padding: 10px;     /* evita clics fallidos */
}

.btn-prev-2:hover {
  color: #222;
  transition: all 0.3s ease-in-out;
}

.btn-next-2:hover {
  color: #222;
  transition: all 0.3s ease-in-out;
}


.btn-prev-2 { left: 10px; }
.btn-next-2 { right: 10px; }

/* Scroll infinito de marcas */
.marcas-contenedor {
  width: 100%;
  text-align: center;
  margin-top: clamp(32px, 6vh, 56px);
  padding-inline: clamp(16px, 5vw, 120px);
  gap: 24px;
}

.marcas-contenedor h2 {
  margin: clamp(12px, 3vh, 16px) 0;
  font-size: clamp(24px, 6vw, 40px);
  font-weight: bold;
  border-bottom: 2px solid #b8b8b8;
}

.scroll-marcas {
  display: flex;
  width: 100%;
  max-width: 1200px;          /* desktop intacto */
  margin: 0 auto;
  background: #fff;
  padding: clamp(16px, 4vh, 40px) 0;
  overflow-x: hidden;         /* evita scroll feo en m贸vil */
}

.scroll-marcas::-webkit-scrollbar {
  display: none;
}

.marcas-track {
  display: flex;
  align-items: center;
  gap: clamp(32px, 8vw, 80px);
  width: max-content;
  padding-right: clamp(32px, 8vw, 80px);
  animation: spin 20s linear infinite;
}

.scroll-marcas img {
  height: clamp(32px, 8vw, 50px);
  width: auto;
  object-fit: contain;
}

@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}

/*SUSCRIPCION DEL USUARIO*/
.suscripcion-contenedor {
  margin-top: clamp(32px, 6vh, 56px);
  padding-inline: clamp(16px, 5vw, 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(16px, 4vh, 24px);
}

.suscripcion-contenedor h2 {
  font-size: clamp(24px, 6vw, 40px);
  font-weight: bold;
  text-align: center;
}

.suscripcion-contenedor p {
  font-size: clamp(16px, 4.5vw, 24px);
  font-weight: 400;
  max-width: min(100%, 876px);
  text-align: center;
}

.user-actions {
  display: flex;
  gap: clamp(12px, 3vw, 24px);
  flex-wrap: wrap;              /*  permite salto */
  justify-content: center;
  width: 100%;
}

.user-actions input {
  width: min(100%, 330px);
  height: 48px;
  border: 1px solid #b8b8b8;
  padding: 0 16px;
  font-size: 16px;
}

.user-actions button {
  width: min(100%, 150px);
  height: 48px;
  color: #fff;
  background-color: #4b4e6d;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}


.user-actions button:hover {
  background-color: #222;
}

/*FOOTER*/
footer {
  margin-top: clamp(32px, 6vh, 56px);
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* permite bajar columnas en m贸vil */
  align-items: flex-start;
  justify-content: space-between;
  background-color: #222;
  padding: clamp(32px, 6vh, 64px) clamp(16px, 6vw, 120px);
  gap: clamp(32px, 6vh, 48px);
}

footer h2 {
  color: #fff;
  font-size: clamp(18px, 4.5vw, 24px);
  font-weight: 800;
}

footer p {
  font-size: clamp(14px, 3.8vw, 16px);
  font-weight: 600;
  color: #fff;
}

.info-container,
.ayuda-container,
.redes-container {
  flex: 1 1 clamp(220px, 80vw, 300px);
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 4vh, 32px);
}

.footer-elemento {
  display: flex;
  align-items: center;
  gap: clamp(8px, 3vw, 12px);
}

.icono-footer {
  color: #fff;
}

/* Ocultar elementos */
.hidden {
    opacity: 0;
    pointer-events: none;
}


/* Fondo oscuro */
.overlay-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease;
}

.overlay-login:not(.hidden) {
  opacity: 1;
  visibility: visible;
}

/* Panel login */
.menu-login {
  position: fixed;
  top: 0;
  right: -400px;
  width: 340px;
  height: 100%;
  background: white;
  padding: 32px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: right 0.35s ease, opacity 0.35s ease;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Bot贸n cerrar */
.btn-cerrar {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Contenedores */
.form-contenedor {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.form-contenedor h2 {
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.form-contenedor input {
  width: 100%;
  height: 48px;
  padding: 16px;
  border: 1px solid #b8b8b8;
  font-size: 16px;
}

.btn-accion {
  height: 48px;
  background: #4b4e6d;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.texto-intercambio span {
  color: #222;
  cursor: pointer;
  font-weight: bold;
}

/*CARRITO*/

/* Fondo oscuro del carrito */
.overlay-carrito {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease;
}

.overlay-carrito:not(.hidden) {
  opacity: 1;
  visibility: visible;
}

/* Panel carrito */
.menu-carrito {
  position: fixed;
  top: 0;
  right: -400px;
  width: 340px;
  height: 100%;
  background: white;
  padding: 32px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  transition: right 0.35s ease, opacity 0.35s ease;
}

/* Estilo de 铆tems del carrito */
.carrito-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    padding-bottom: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nombre {
    font-size: 16px;
    font-weight: bold;
    color: #222;
    max-width: 176px;
}

.precio {
    font-size: 16px;
    font-weight: 600;
    color: #222;
}

.cantidad {
    display: flex;
    align-items: center;
}

.cantidad button {
    width: 32px;
    height: 32px;
    color: #222;
    background-color: #fff;
    border: 1px solid #b8b8b8;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.cantidad div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #222;
    background-color: #fff;
    border: 1px solid #b8b8b8;
    font-size: 16px;
    font-weight: bold;
}

.carrito-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* Asegurar estructura vertical del sidebar */
#menu-carrito {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Lista del carrito que hace scroll */
#carritoLista {
    flex: 1;
    overflow-y: auto;
    margin-top: 20px;
}

/* Footer (subtotal + bot贸n) siempre visible */
.carrito-footer {
    position: sticky;
    bottom: 0;
    background: #fff;
    padding: 20px 0 20px;
    border-top: 1px solid #b8b8b8;
}

#btnVerCarrito {
    width: 100%;
    height: 48px;
    background: #4b4e6d;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
} 

#btnVerCarrito:hover {
    background-color: #222;
} 

.carrito-subtotal {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600;
    text-align: center;
}

/*BUSCADOR*/
.resultados-busqueda {
  position: absolute;
  background: #fff;
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
  z-index: 20;
}

.resultado-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.resultado-item img {
  width: 60px;
  height: 50px;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 10px;
}

.resultado-item:hover {
  background: #f2f2f2;
}

/* El wrapper controla la posici贸n del panel */
.contenedor-filtro-wrapper {
  align-self: flex-end;
  position: relative;
  display: inline-block; /* Importante */
}

/* Panel justo debajo del contenedor */
#panelFiltros {
  display: flex;
  position: absolute;
  top: 100%; /*aparece JUSTO debajo del filtro */
  left: -340px;
  width: 600px;
  height: auto;
  background: white;
  padding: 32px;
  gap: 80px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: all 0.25s ease-in-out;
  z-index: 200;
}

#panelFiltros.panel-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.categorias, .marcas {
  display: flex;
  flex-direction: column;
}

.categorias li, .marcas li {
  list-style: none;
  margin: 16px 0;
  transition: 0.3s ease;
}

.categorias li:hover, .marcas li:hover {
  color: #4b4e6d;
  font-weight: bold;
}

/* ANIMACIN NORMAL (ENTRADA) */
.menu-login:not(.hidden):not(.closing),
.menu-carrito:not(.hidden):not(.closing) {
    right: 0;
    opacity: 1;
    visibility: visible;
}

/* ANIMACIN DE SALIDA */
.menu-login.closing,
.menu-carrito.closing {
    right: -400px;
    opacity: 0;
    visibility: visible; /* No se esconde a煤n */
}

/* Animaci贸n de entrada */
.slide-in-right {
    animation: slideInRight .3s forwards;
}

@keyframes slideInRight {
    from { transform: translateX(100%); opacity: 0; }
    to   { transform: translateX(0); opacity: 1; }
}

/* Animaci贸n de salida */
.slide-out-right {
    animation: slideOutRight .3s forwards;
}

@keyframes slideOutRight {
    from { transform: translateX(0); opacity: 1; }
    to   { transform: translateX(100%); opacity: 0; }
}

/* Overlay entrada */
.fade-in {
    animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Overlay salida */
.fade-out {
    animation: fadeOut .3s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.mensaje {
    color: #4b4e6d;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.hidden { display: none; }

/* Estado deshabilitado del bot贸n login */
#btnLogin:disabled {
    opacity: 0.4;        /* botoncito opacado */
    cursor: not-allowed; /* cursor deshabilitado */
    background-color: #4b4e6d; /* mismo color del bot贸n normal */
}

/* Mientras inicia sesi贸n (JS agrega esta clase) */
#btnLogin.cargando {
    opacity: 0.4;
    cursor: wait;       /* cursor de relojito */
}

.mensaje-estado {
    margin-top: 10px;
    color: #4b4e6d;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mensaje-estado.show {
    opacity: 1;
}

/* Bot贸n deshabilitado */
#btnRegistro:disabled:not(.cargando) {
    opacity: 0.4;
    cursor: not-allowed;
}

/* Bot贸n cargando */
.cargando {
    cursor: wait !important;
    opacity: 0.6;
}

.error {
    color: rgb(255, 94, 94);
    font-size: 12px;
    margin-top: 3px;
    display: block;
}

.hidden {
    display: none;
}

/*=========================================
SECCION RESPONSIVE
=========================================*/

.btn-hamburguesa {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #4b4e6d;
}

.overlay-menu {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100vh;
  background: #fff;
  z-index: 999;
  padding: 5vh 6vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.menu-mobile.active {
  transform: translateX(0);
}

.overlay-menu.active {
  opacity: 1;
  pointer-events: auto;
}

.buscador-mobile input {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
  border: 1px solid #b8b8b8;
}

.item-mobile {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 800px) {

  .img-container:hover img {
    opacity: 1;
  }

  .contenido-header {
    position: relative;
    justify-content: center;
    padding: 0 5vw;
  }

  .contenedor-acciones,
  .contenedor-filtro {
    display: none;
  }

  .btn-hamburguesa {
    display: block;
    position: absolute;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
  }

  .contenedor-logo {
    margin: 0 auto;
  }

}
