* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HEADER*/
header {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: sticky;
  top: 0;
}

/*Anuncio*/
.anuncio {
  width: 100%;
  height: 48px;
  background-color: #4b4e6d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

/*Contenedor del contenido del header*/
.contenido-header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  margin: 24px 0 0 0;
}

/*Contenedor del logo*/
.contenedor-logo {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-logo img {
  width: 80px;
  height: 76px;
  object-fit: cover;
}

.contenedor-logo p {
  font-size: 24px;
  font-weight: 800;
  color: #4b4e6d;
}

/*Contenedor de acciones*/
.contenedor-acciones {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.buscador input {
  width: 550px;
  height: 48px;
  border: 2px solid #b8b8b8;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
}

.contenedor-login {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contenedor-login img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.contenedor-login p {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
}

.icono-carrito {
  width: 24px;
  height: 24px;
  object-fit: cover;
  cursor: pointer;
}

/*Contenedor del filtro*/
.contenedor-filtro {
  width: fit-content;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 120px 0 0;
  gap: 8px;
  align-self: flex-end;
  margin: 24px 0;
  z-index: 100;
  top: 0;
  position: sticky;
}

.contenedor-filtro img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.contenedor-filtro p {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
}

/*HERO SECTION*/
.hero-section {
  width: 100%;
  height: auto;
  padding: 64px 120px;
  background-image: url('/front/ASSETS/IMG/hero_section_img.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido-hero {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.contenido-hero h1 {
  font-size: 64px;
  font-weight: bold;
  color: #4b4e6d;
  text-align: center;
}

.contenido-hero p {
  font-size: 48px;
  font-weight: 600;
  color: #222;
  text-align: center;
  max-width: 1008px;
}

.btn-explorar {
  width: 200px;
  height: 64px;
  background-color: #fff;
  border: 1px solid #4b4e6d;
  border-radius: 8px;
  color: #4b4e6d;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-explorar:hover {
  background-color: #222;
  color: #fff;
}

/*SLIDER DE PRODUCTOS*/
.bicicletas-destacadas {
  width: 1200px;
  height: auto;
  margin: 56px 0 0 0;
}

.bicicletas-destacadas h2 {
  font-size: 40px;
  font-weight: bold;
  color: #222;
  margin: 16px 0;
  border-bottom: 2px solid #b8b8b8;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 5;
}

.slider-track {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease;
  z-index: 1; /* Track por debajo */
}

.slide {
  min-width: 1200px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 330px;
  background: #fff;
  padding: 16px;
  gap: 8px;
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.precio {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.tipo {
  font-size: 16px;
  font-weight: bold;
  color: #b8b8b8;
}

.img-container {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-prev, .btn-next {
  color: #4b4e6d;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  background: rgb(255, 255, 255); /* Fondo blanco */
  border: none;
  cursor: pointer;

  z-index: 10;       /* <- LO IMPORTANTE */
  padding: 10px;     /* evita clics fallidos */
}

.btn-prev:hover {
  color: #222;
  transition: all 0.3s ease-in-out;
}

.btn-next:hover {
  color: #222;
  transition: all 0.3s ease-in-out;
}


.btn-prev { left: 10px; }
.btn-next { right: 10px; }


/*SLIDER DE PROMOCIONES*/
.promociones-destacadas {
  width: 1200px;
  height: auto;
  margin: 56px 0 0 0;
}

.promociones-destacadas h2 {
  font-size: 40px;
  font-weight: bold;
  color: #222;
  margin: 16px 0;
  border-bottom: 2px solid #b8b8b8;
}

.slider-wrapper-2 {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 5;
}

.slider-track-2 {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease;
  z-index: 1; /* Track por debajo */
}

.slide {
  min-width: 1200px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 330px;
  background: #fff;
  padding: 16px;
  gap: 8px;
}

.img-container {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.btn-detalles {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 48px;
  transform: translate(-50%, -50%);
  background: #4b4e6d;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition: 0.3s ease;
  z-index: 5;
}

.img-container:hover .btn-detalles {
  opacity: 1;
}

.btn-detalles:hover {
  background-color: #222;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.img-container:hover img {
  opacity: 0.5;
}

.btn-prev-2, .btn-next-2 {
  color: #4b4e6d;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  background: rgb(255, 255, 255); /* Fondo blanco */
  border: none;
  cursor: pointer;

  z-index: 10;       /* <- LO IMPORTANTE */
  padding: 10px;     /* evita clics fallidos */
}

.btn-prev-2:hover {
  color: #222;
  transition: all 0.3s ease-in-out;
}

.btn-next-2:hover {
  color: #222;
  transition: all 0.3s ease-in-out;
}


.btn-prev-2 { left: 10px; }
.btn-next-2 { right: 10px; }

/* Scroll infinito de marcas */
.marcas-contenedor {
  text-align: center;
  margin: 56px 0 0 0;
  gap: 24px;
}

.marcas-contenedor h2 {
  margin: 16px 0;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 2px solid #b8b8b8;
}

.scroll-marcas {
  display: flex;
  width: 1200px;
  background: #fff;
  padding: 40px 0;
  overflow-x: auto;
}

.scroll-marcas::-webkit-scrollbar {
  display: none;
}

.marcas-track {
  display: flex;
  align-items: center;
  gap: 80px;
  width: max-content;
  padding-right: 80px;
  animation: spin 20s infinite linear;
}

.scroll-marcas img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}

/*SUSCRIPCION DEL USUARIO*/
.suscripcion-contenedor {
  margin: 56px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.suscripcion-contenedor h2 {
  font-size: 40px;
  font-weight: bold;
}

.suscripcion-contenedor p {
  font-size: 24px;
  font-weight: 400;
  max-width: 876px;
  text-align: center;
}

.user-actions {
  display: flex;
  gap: 24px;
}

.user-actions input {
  width: 330px;
  height: 48px;
  border: 1px solid #b8b8b8;
  padding: 0 16px;
  font-size: 16px;
}

.user-actions button {
  width: 150px;
  height: 48px;
  color: #fff;
  background-color: #4b4e6d;
  padding: 10px 16px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.user-actions button:hover {
  background-color: #222;
}

/*FOOTER*/
footer {
  margin: 56px 0 0 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 64px 120px;
}

footer h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}

footer p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.info-container,
.ayuda-container,
.redes-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-elemento {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icono-footer {
  color: #fff;
}

/* Ocultar elementos */
.hidden {
    display: none !important;
}

/* Estilos del overlay */
.overlay-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(2px);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

/* Cuando está activo */
.overlay-login:not(.hidden) {
    opacity: 1;
    visibility: visible;
}

/* Menú lateral */
.menu-login {
    position: fixed;
    top: 0;
    right: -400px; /* oculto */
    width: 340px;
    height: 100%;
    background: #fff;
    z-index: 999;
    padding: 30px;
    box-shadow: -3px 0px 12px rgba(0,0,0,0.2);
    transition: 0.35s ease;
}

/* Menú visible */
.menu-login:not(.hidden) {
    right: 0;
}

/* Botón cerrar */
.btn-cerrar {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

/* Contenedores */
.form-contenedor {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-contenedor input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn-accion {
    background: #111;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.texto-intercambio span {
    color: #0a58ff;
    cursor: pointer;
    font-weight: 600;
}

/*CARRITO*/
.carrito-item img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

/*BUSCADOR*/
.resultados-busqueda {
    position: absolute;
    background: #fff;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    margin-top: 5px;
    z-index: 20;
}

.resultado-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.resultado-item img {
    width: 60px;
    height: 50px;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 10px;
}

.resultado-item:hover {
    background: #f2f2f2;
}

/* El wrapper controla la posición del panel */
.contenedor-filtro-wrapper {
    align-self: flex-end;
    position: relative;
    display: inline-block; /* Importante */
}

/* Panel justo debajo del contenedor */
#panelFiltros {
    position: absolute;
    top: 100%; /*aparece JUSTO debajo del filtro */
    left: 0;
    width: 220px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 0.25s ease-in-out;
    z-index: 200;
}

#panelFiltros.panel-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

