* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*HEADER*/
header {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: sticky;
  top: 0;
}

/*Anuncio*/
.anuncio {
  width: 100%;
  height: 48px;
  background-color: #4b4e6d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

/*Contenedor del contenido del header*/
.contenido-header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  margin: 24px 0 0 0;
}

/*Contenedor del logo*/
.contenedor-logo {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-logo img {
  width: 80px;
  height: 76px;
  object-fit: cover;
}

.contenedor-logo a {
  font-size: 24px;
  font-weight: 800;
  color: #4b4e6d;
  text-decoration: none;
  cursor: pointer;
}

/*Contenedor de acciones*/
.contenedor-acciones {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.buscador input {
  width: 550px;
  height: 48px;
  border: 2px solid #b8b8b8;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
}

.contenedor-login {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contenedor-login img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.contenedor-login p {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
}

.contenedor-login a {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
  text-decoration: none;
}

.icono-carrito {
  width: 24px;
  height: 24px;
  object-fit: cover;
  cursor: pointer;
}

/*FOOTER*/
footer {
  margin: 56px 0 0 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 64px 120px;
}

footer h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}

footer p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.info-container,
.ayuda-container,
.redes-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-elemento {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icono-footer {
  color: #fff;
}

/* Fondo oscuro */
.overlay-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease;
}

.overlay-login:not(.hidden) {
  opacity: 1;
  visibility: visible;
}

/* Panel login */
.menu-login {
  position: fixed;
  top: 0;
  right: -400px;
  width: 340px;
  height: 100%;
  background: white;
  padding: 32px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: right 0.35s ease, opacity 0.35s ease;
  overflow-y: auto;
  overflow-x: hidden;
}


/* Botón cerrar */
.btn-cerrar {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Contenedores */
.form-contenedor {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.form-contenedor h2 {
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.form-contenedor input {
  width: 100%;
  height: 48px;
  padding: 16px;
  border: 1px solid #b8b8b8;
  font-size: 16px;
}

.btn-accion {
  height: 48px;
  background: #4b4e6d;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.texto-intercambio span {
  color: #222;
  cursor: pointer;
  font-weight: bold;
}

/*CARRITO*/

/* Fondo oscuro del carrito */
.overlay-carrito {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease;
}

.overlay-carrito:not(.hidden) {
  opacity: 1;
  visibility: visible;
}

/* Panel carrito */
.menu-carrito {
  position: fixed;
  top: 0;
  right: -400px;
  width: 340px;
  height: 100%;
  background: white;
  padding: 32px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  transition: right 0.35s ease, opacity 0.35s ease;
}

/* Estilo de ítems del carrito */
.carrito-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    padding-bottom: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nombre {
    font-size: 16px;
    font-weight: bold;
    color: #222;
    max-width: 176px;
}

.precio {
    font-size: 16px;
    font-weight: 600;
    color: #222;
}

.cantidad {
    display: flex;
    align-items: center;
}

.cantidad button {
    width: 32px;
    height: 32px;
    color: #222;
    background-color: #fff;
    border: 1px solid #b8b8b8;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.cantidad div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #222;
    background-color: #fff;
    border: 1px solid #b8b8b8;
    font-size: 16px;
    font-weight: bold;
}

.carrito-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* Asegurar estructura vertical del sidebar */
#menu-carrito {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Lista del carrito que hace scroll */
#carritoLista {
    flex: 1;
    overflow-y: auto;
    margin-top: 20px;
}

/* Footer (subtotal + botón) siempre visible */
.carrito-footer {
    position: sticky;
    bottom: 0;
    background: #fff;
    padding: 20px 0 20px;
    border-top: 1px solid #b8b8b8;
}

#btnVerCarrito {
    width: 100%;
    height: 48px;
    background: #4b4e6d;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
} 

#btnVerCarrito:hover {
    background-color: #222;
} 

.carrito-subtotal {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600;
    text-align: center;
}

/*BUSCADOR*/
.resultados-busqueda {
  position: absolute;
  background: #fff;
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
  z-index: 20;
}

.resultado-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.resultado-item img {
  width: 60px;
  height: 50px;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 10px;
}

.resultado-item:hover {
  background: #f2f2f2;
}

/* SELECTS DE FILTROS*/
.filtros-contenedor {
  display: flex;
  margin: 56px 0 0 0;
  gap: 12px;
  align-self: flex-start;
  padding: 0 0 16px 120px;
  top: 0;
  position: sticky;
  z-index: 10;
}

select {
  width: 200px;
  height: 32px;
  cursor: pointer;
}

option {
  transition: 0.3s ease;
}

.filtros-contenedor button {
  width: 100px;
  height: 32px;
  border: none;
  cursor: pointer;
  background-color: #4b4e6d;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s ease;
}

.filtros-contenedor button:hover {
  background-color: #222;
  color: #fff;
}

/*CONTENEDOR DE LOS PRODUCTOS*/
#productos {
  flex: 1;
  width: 100%;
  height: auto;
  padding: 0 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

/*CARD DE PRODCUTOS*/
.card {
  display: flex;
  flex-direction: column;
  width: 330px;
  background: #fff;
  padding: 16px;
  gap: 8px;
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.tipo {
  font-size: 16px;
  font-weight: bold;
  color: #b8b8b8;
}

.img-container {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.btn-detalles {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 48px;
  transform: translate(-50%, -50%);
  background: #4b4e6d;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition: 0.3s ease;
  z-index: 5;
}

.img-container:hover .btn-detalles {
  opacity: 1;
}
.img-container:hover img {
  opacity: 0.5;
}

.btn-detalles:hover {
  background-color: #222;
}

/* mensaje "no productos" */
.no-productos {
    min-height: 40vh;
    text-align: center;
    padding: 60px 20px;
    margin-top: 40px;
}

.no-productos h2 {
    font-size: 40px;
    color: #222;
    margin-bottom: 10px;
}

.no-productos p {
    font-size: 24px;
    color: #222;
}

.no-productos {
  grid-column: 1 / -1; /* hace que el mensaje ocupe TODAS las columnas */
  text-align: center; /* centra el texto */
  font-size: 24px; /* texto un poco más grande */
  padding: 40px 0; /* espacio superior/inferior */
}

.no-productos-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 24px;
}

/* ANIMACIÓN NORMAL (ENTRADA) */
.menu-login:not(.hidden):not(.closing),
.menu-carrito:not(.hidden):not(.closing) {
    right: 0;
    opacity: 1;
    visibility: visible;
}

/* ANIMACIÓN DE SALIDA */
.menu-login.closing,
.menu-carrito.closing {
    right: -400px;
    opacity: 0;
    visibility: visible; /* No se esconde aún */
}

/* Animación de entrada */
.slide-in-right {
    animation: slideInRight .3s forwards;
}

@keyframes slideInRight {
    from { transform: translateX(100%); opacity: 0; }
    to   { transform: translateX(0); opacity: 1; }
}

/* Animación de salida */
.slide-out-right {
    animation: slideOutRight .3s forwards;
}

@keyframes slideOutRight {
    from { transform: translateX(0); opacity: 1; }
    to   { transform: translateX(100%); opacity: 0; }
}

/* Overlay entrada */
.fade-in {
    animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Overlay salida */
.fade-out {
    animation: fadeOut .3s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.mensaje {
    color: #4b4e6d;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.hidden { display: none; }

/* Estado deshabilitado del botón login */
#btnLogin:disabled {
    opacity: 0.4;        /* botoncito opacado */
    cursor: not-allowed; /* cursor deshabilitado */
    background-color: #4b4e6d; /* mismo color del botón normal */
}

/* Mientras inicia sesión (JS agrega esta clase) */
#btnLogin.cargando {
    opacity: 0.4;
    cursor: wait;       /* cursor de relojito */
}

.mensaje-estado {
    margin-top: 10px;
    color: #4b4e6d;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mensaje-estado.show {
    opacity: 1;
}

/* Botón deshabilitado */
#btnRegistro:disabled:not(.cargando) {
    opacity: 0.4;
    cursor: not-allowed;
}

/* Botón cargando */
.cargando {
    cursor: wait !important;
    opacity: 0.6;
}

.error {
    color: rgb(255, 94, 94);
    font-size: 12px;
    margin-top: 3px;
    display: block;
}

.hidden {
    display: none;
}
