* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HEADER*/
header {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: sticky;
  top: 0;
}

/*Contenedor del contenido del header*/
.contenido-header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  margin: 24px 0 0 0;
}

/*Contenedor del logo*/
.contenedor-logo {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-logo img {
  width: 80px;
  height: 76px;
  object-fit: cover;
}

.contenedor-logo a {
  font-size: 24px;
  font-weight: 800;
  color: #4b4e6d;
  text-decoration: none;
  cursor: pointer;
}

/*Contenedor de acciones*/
.contenedor-acciones {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.buscador input {
  width: 550px;
  height: 48px;
  border: 2px solid #b8b8b8;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
}

.contenedor-login {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contenedor-login img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.contenedor-login p {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
}

.contenedor-login a {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
  text-decoration: none;
}

.icono-carrito {
  width: 24px;
  height: 24px;
  object-fit: cover;
  cursor: pointer;
}

/*FOOTER*/
footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 64px 120px;
}

footer h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}

footer p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.info-container,
.ayuda-container,
.redes-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-elemento {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icono-footer {
  color: #fff;
}

/* Ocultar elementos */
.hidden {
    display: none !important;
}

/* Estilos del overlay */
.overlay-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

/*SIDEBAR DEL CARRITO Y USUARIO*/

/* Cuando está activo */
.overlay-login:not(.hidden) {
  opacity: 1;
  visibility: visible;
}

/* Menú lateral */
.menu-login {
  position: fixed;
  top: 0;
  right: -400px; /* oculto */
  width: 340px;
  height: 100%;
  background: #fff;
  z-index: 999;
  padding: 30px;
  box-shadow: -3px 0px 12px rgba(0,0,0,0.2);
  transition: 0.35s ease;
}

/* Menú visible */
.menu-login:not(.hidden) {
  right: 0;
}

/* Botón cerrar */
.btn-cerrar {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Contenedores */
.form-contenedor {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-contenedor input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn-accion {
  background: #111;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.texto-intercambio span {
  color: #0a58ff;
  cursor: pointer;
  font-weight: 600;
}

/*CARRITO*/

/* Estilo de ítems del carrito */
.carrito-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    padding-bottom: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nombre {
    font-size: 16px;
    font-weight: bold;
    color: #222;
    max-width: 176px;
}

.precio {
    font-size: 16px;
    font-weight: 600;
    color: #222;
}

.cantidad {
    display: flex;
    align-items: center;
}

.cantidad button {
    width: 32px;
    height: 32px;
    color: #222;
    background-color: #fff;
    border: 1px solid #b8b8b8;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.cantidad div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #222;
    background-color: #fff;
    border: 1px solid #b8b8b8;
    font-size: 16px;
    font-weight: bold;
}

.carrito-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* Asegurar estructura vertical del sidebar */
#menu-carrito {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Lista del carrito que hace scroll */
#carritoLista {
    flex: 1;
    overflow-y: auto;
    margin-top: 20px;
}

/* Footer (subtotal + botón) siempre visible */
.carrito-footer {
    position: sticky;
    bottom: 0;
    background: #fff;
    padding: 20px 0 20px;
    border-top: 1px solid #b8b8b8;
}

#btnVerCarrito {
    width: 100%;
    height: 48px;
    background: #4b4e6d;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
} 

#btnVerCarrito:hover {
    background-color: #222;
} 

.carrito-subtotal {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600;
    text-align: center;
}

/*BUSCADOR*/
.resultados-busqueda {
  position: absolute;
  background: #fff;
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
  z-index: 20;
}

.resultado-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.resultado-item img {
  width: 60px;
  height: 50px;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 10px;
}

.resultado-item:hover {
  background: #f2f2f2;
}

/* El wrapper controla la posición del panel */
.contenedor-filtro-wrapper {
  align-self: flex-end;
  position: relative;
  display: inline-block; /* Importante */
}

/* Panel justo debajo del contenedor */
#panelFiltros {
  display: flex;
  position: absolute;
  top: 100%; /*aparece JUSTO debajo del filtro */
  left: -340px;
  width: 600px;
  height: auto;
  background: white;
  padding: 32px;
  gap: 80px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: all 0.25s ease-in-out;
  z-index: 200;
}

#panelFiltros.panel-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.categorias, .marcas {
  display: flex;
  flex-direction: column;
}

.categorias li, .marcas li {
  list-style: none;
  margin: 16px 0;
  transition: 0.3s ease;
}

.categorias li:hover, .marcas li:hover {
  color: #4b4e6d;
  font-weight: bold;
}

/*Contenedor del filtro*/
.contenedor-filtro {
  width: fit-content;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 120px 0 0;
  gap: 8px;
  align-self: flex-end;
  margin: 24px 0;
  z-index: 100;
  top: 0;
  position: sticky;
}

.contenedor-filtro img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.contenedor-filtro p {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
}

#detalle-contenedor {
  display: flex;
  flex-direction: column;
}

.detalle-contenido {
  padding: 0 120px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.detalle-acciones {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: first baseline;
  justify-content: first baseline;
}

.detalle-acciones h3 {
  font-size: 40px;
  font-weight: bold;
}

.precio {
  font-size: 24px;
  font-weight: 600;
}

.envio {
  font-size: 16px;
}

.detalle-acciones button {
  width: 179px;
  height: 48px;
  border: none;
  background-color: #4b4e6d;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
}

.detalle-acciones button:hover {
  background-color: #222;
}

.detalle-texto {
  background-color: #b8b8b8;
  padding: 32px 120px;
}

.detalle-texto h3 {
  margin: 0 0 32px 0;
  font-size: 40px;
  font-weight: bold;
}

.detalle-texto p {
  line-height: 1.5rem;
}

.img-detalle {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.cantidad-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btnRestar, #btnSumar, #cantidadActual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 0;
  color: #222;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #b8b8b8;
}

.disabled-btn {
    opacity: 0.4;
    cursor: not-allowed;
}
