* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.card {
    width: 330px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
}

.img-container {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}